<h1>Sites</h1>

<table class="table">
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.domain_name, site_path(site.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
